<!--
 * @FileName: 
 * @Author: manyao.zhu
 * @Date: 2019-12-17 11:45:19
 -->
<!DOCTYPE html>
<html>
  <head>
    <meta name='keywords' content='SRM首页'>
    <meta name='description' content=''>
    <title>SRM首页</title>
    <link rel='stylesheet' type='text/css' href='/static/css/base.css' />
    <script type='text/javascript' src='/javascripts/jquery-3.4.1.min.js'></script>
  </head>
  <body>
   
    <form id='login'>
      <p>
        <label for="username">用户名</label>
        <input type="text" name='username' vlaue='username' id='username'>
      </p>
      <p>
        <label for="password">密码</label>
        <input type="text" name='password' vlaue='password' id='password'>
      </p>
    </form>
    <p>
      <button id='jump' name='btn' onclick='login()'>登录</button>
    </p>
  
    <script type='text/javascript' src='/static/js/index.js'></script>
  </body>
</html>
